<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<title>login</title>
</head>
<body>
	<style>
		.login {
			width: 370px;
		}
	</style>
	<h2><%= title %></h2>
	<section class="login">
		<form class="form-horizontal" onsubmit="return false">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="inputEmail3" placeholder="Email" name="email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
		    </div>
		  </div>
		  
		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10" style="margin-bottom: 12px;">
		      <button  class="btn btn-success" id="submit" style="width: 100%;">登录</button>
		    </div>
		    <a href="/register" class="btn btn-info" style="display: block;float: right;">注册</a>
		  </div>
		</form>
	</section>
	<script>
		$('#submit').click(function(){
			var email = $('input[name=email]').val();
			var password = $('input[name=password]').val();
			if(email=="" || password==""){
				console.log('邮箱和密码必填')
				alert('邮箱和密码必填')
				return;
			}
			$.ajax({
				url:'/login',
				type:'POST',
				data: {
					email:email,
					password:password
				},
				success:function (data){
					console.log(data)
					if(data.status==1){
						alert(data.text)
						location.href = '/home'
					}else if (data.status==-1) {
						alert(data.text)
					}
					else {
						alert(data.text)
					}
					
					
				},
				error:function(){
					console.log(3333)
				}
			})
		})
	</script>
</body>
</html>