<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>

	<title>register</title>
</head>
<body>
	
	<style>
		.login {
			width: 370px;
		}
	</style>
	<h2>注册</h2>
	<section class="login">
		<form class="form-horizontal" onsubmit="return false">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="inputEmail3" placeholder="Email" name="email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="inputEmail3" placeholder="name" name="username">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" name="checkbox" value="2">同意协议
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10" style="margin-bottom: 12px;">
		      <button  class="btn btn-success" id="submit" style="width: 100%;">注册</button>
		    </div>
		    <a href="/login" class="btn btn-info" style="display: block;float: right;">登录</a>
		  </div>
		</form>
	</section>
	<script>
		$('#submit').click(function(){
			var email = $('input[name=email]').val();
			var username = $('input[name=username]').val();
			var password = $('input[name=password]').val();
			var checkbox = $('input[name=checkbox]').is(':checked')
			if(email=="" || username=="" || password=="" || !checkbox) {
				alert('信息未填完整');
				return;
			}

			$.ajax({
				url:'/register',
				type:'POST',
				data:{
					email:email,
					username:username,
					password:password
				},
				success:function(data){
					if(data.status==-1){
						alert(data.text)
					}else if(data.status==1){
						alert(data.text);
						location.href='/login'
					}else if (data.status==0) {
						alert(data.text)
					}
				}
			})
		})
	</script>
</body>
</html>